<%- include('partials/head') %> <%- include('partials/navbar')%>
<h1>HOME PAGE <%=`Hello World`.toUpperCase() %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur harum
  cumque dolor perferendis eos ipsam libero, quos quo asperiores? Obcaecati et
  cupiditate aliquid tenetur alias ducimus minima praesentium ratione eum.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur harum
  cumque dolor perferendis eos ipsam libero, quos quo asperiores? Obcaecati et
  cupiditate aliquid tenetur alias ducimus minima praesentium ratione eum.
</p>
<%- include('partials/footer')%>
